@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: rgb(0, 13, 51);
}
html{
    scroll-behavior: smooth;
}
header {
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 100px;
    align-items: center;
    z-index: 50;
    background-color: transparent;
    transition: background-color 0.5s ease;
    /*change the color smoothly*/
}

.scrolled-header {
    /*This class will be added to the header when scroll*/
    background-color: rgb(13, 27, 66);
}

.logo {
    position: relative;
    /* text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 25px; */
    cursor: default;
    animation: slideRight 1s ease forwards;
}

.logo img {
    width: 100px;
    height: 100px;
    object-fit: cover;

}

.navbar a {
    display: inline-block;
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .5s;
    animation: slideDown 1s ease forwards;
}

.navbar a:hover {
    color: #0ef;
}

/* home */
#home {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    height: 100vh;
    align-items: center;
    color: white;
}

.home-content h3 {
    font-size: 30px;
    width: 460px;
    white-space: nowrap;
    /* Prevent wrapping */
    overflow: hidden;
    /* Hide any overflow if the text exceeds the width */
    animation: slideDown 1s ease forwards;
    animation-delay: 0.5s;
    opacity: 0;
}

.home-text {
    color: #0ef;
}

.home-content h1 {
    font-size: 50px;
    animation: slideRight 1s ease forwards;
    animation-delay: 0.7s;
    opacity: 0;
}

.highlight {
    color: #0ef;
}

.myphoto {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    overflow: hidden;
    background-color: transparent;
    /* Transparent background */
    box-shadow: 0 0 10px #0ef, 0 0 20px #0ef, 0 0 30px #0ef;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 0.7s;
}

.myphoto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #0ef;

}

.home-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: solid 2px #0ef;
    border-radius: 50%;
    background: transparent;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 0.7s;
}

.home-icons a:hover {
    color: rgb(0, 13, 51);
    ;
    background-color: #0ef;
    box-shadow: 0 0 20px #0ef;
}

/* about section */
.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;
    height: 100vh;
}

.about-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    overflow: hidden;
    background-color: transparent;
    /* Transparent background */
    box-shadow: 0 0 10px #0ef, 0 0 20px #0ef, 0 0 30px #0ef;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 0.7s;
}

.about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #0ef;
}

.about-text {
    width: 400px;
    color: white;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 0.7s;
}

.about-text h2 {
    font-size: 40px;
}

.about-text h2 span {
    color: #0ef;
}

.about-text p {
    font-size: 15px;
}


/* skills section */

#skills {
    text-align: center;
    color: white;
    height: 100vh;
    padding-top: 60px;
}
#skills span{
    color: #0ef;
}
.skills-header h1 {
    font-size: 40px;
    opacity: 0;
    animation: slideDown 1s ease forwards;
    animation-delay: 0.3s;
}

.skills-header span {
    color: #0ef;
}

.skills-main {
    padding-top: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    gap: 50px;
}

.skills-main h2 {
    margin-bottom: 10px;
}

.coding-skills {
    width: 100%;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 0.6s;
}

.soft-skills {
    width: 100%;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 0.6s;
}

.info-bar {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.info-bar .info {
    display: flex;
    justify-content: space-between;

}

.info-bar .bar {
    margin-top: 10px;
    height: 10px;
    background-color: rgb(13, 27, 66);
    border-radius: 10px;
}

.bar span {
    display: block;
    background-color: #0ef;
    height: 100%;
    border-radius: 10px;
}

.html {
    width: 80%;
    animation: html 3s;
}

@keyframes html {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

.css {
    width: 70%;
    animation: css 3s;
}

@keyframes css {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

.js {
    width: 60%;
    animation: js 3s;
}

@keyframes js {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }
}

.java {
    width: 75%;
    animation: java 3s;
}

@keyframes java {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

.py {
    width: 70%;
    animation: py 3s;
}

@keyframes py {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

.wp {
    width: 75%;
    animation: wp 3s;
}

@keyframes wp {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

.communication {
    width: 85%;
    animation: comm 3s;
}

@keyframes comm {
    0% {
        width: 0%;
    }

    100% {
        width: 85%;
    }
}

.teamwork {
    width: 75%;
    animation: tw 3s;
}

@keyframes tw {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

.problemsolving {
    width: 75%;
    animation: ps 3s;
}

@keyframes ps {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

.timemanagement {
    width: 70%;
    animation: tm 3s;
}

@keyframes tm {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}


/* Projects Section */

#projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    color: white;
}
.projects-header{
    margin-bottom: 50px;
}
.projects-header h1 {
    font-size: 40px;
    opacity: 0;
    animation: slideDown 1s ease forwards;
    animation-delay: 0.3s;
}

.projects-header span {
    color: #0ef;
}
.projects-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding-left: 100px;
    padding-right: 100px;
}
.project-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: flex-start;
    opacity: 0;
}
.left-project{
    animation: slideRight 1s ease forwards;
    animation-delay: 0.7s;
}
.middle-project{
    animation: slideUp 1s ease forwards;
    animation-delay: 0.7s;
}
.right-project{
    animation: slideLeft 1s ease forwards;
    animation-delay: 0.7s;
}
.project-image{
    width: 320px;
    height: 181px;
    object-fit: contain;
    margin-bottom: 20px;
}
.project-text{
    margin-bottom: 20px;
}
.project-text h3{
    font-size: 25px;
}
.project-text p{
    font-size: 15px;
}
.project-text h4{
    margin-top: 10px;
    color: #0ef;
}
.project-button {
    background-color: #0ef;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.project-button:hover {
    background-color: #0ef;
    box-shadow: 0 0 20px #0ef;
}




/* Contact Section */
#contact {
    text-align: center;
    height: 100vh;
    width: 100%;
    padding-right: 100px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

#contact h2 {
    font-size: 40px;
    color: white;
    margin-bottom: 20px;
    opacity: 0;
    animation: slideDown 1s ease forwards;
    animation-delay: 0.6s;opacity: 0;
    animation: slideDown 1s ease forwards;
    animation-delay: 0.3s;
}

#contact h2 span {
    color: #0ef;
}

/* Form Styling */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 500px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    background-color: rgb(13, 27, 66);
    color: #fff;
}

input::placeholder,
textarea::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

textarea {
    resize: none;
}

.name{
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 0.6s;
}
.email{
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 0.6s;
}
.subject{
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 0.6s;
}
.message{
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 0.6s;
}
.submit-btn {
    background-color: #0ef;
    /* Button color */
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    animation: slideUp 1s ease forwards;
    animation-delay: 0.6s;
}

.submit-btn:hover {
    background-color: #0ef;
    box-shadow: 0 0 20px #0ef;
}

footer{
    color: #0ef;
    text-align: center;
    border-top: solid 1px rgb(13, 27, 66);
}










@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}